body{
    background-color: rgba(95, 151, 216, 0.356);
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid rgb(0, 0, 0);
    background-color: rgba(240, 200, 207, 0.664);
}

img{
    width: 300px;
    height: 200px;
}
